@import url('https://fonts.googleapis.com/css2?family=Rufina&family=Yantramanav:wght@300&display=swap');

  body {
    font-family: 'Yantramanav', sans-serif;
    color: white
  }

* {
    box-sizing: border-box;
  }

body {
    margin: 50px;
    background-color: #3E3122;
    height: 650px;
}
  
  
/* links */
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px; 
}

.nav {
    flex: 1; 
    text-align: center;
}

nav ul a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: #d2d8a495;
    text-decoration: underline;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 10px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 5px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #e1d5c7;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color:#7e6950;
  }
  
  .btn.active {
    background-color: #7e6950;
    color: white;
  }

